<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" ng-app="app">
    <head>
        <title>开发组件</title>
        <base th:href="@{/}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" th:href="@{/img/common/de-component.ico}" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/external/bootstrap.min.css}"/>
    </head>
    <body>
        <div ui-view='header'></div>
        <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/libs/bootstrap.min.js}"></script>
        <script th:src="@{/js/libs/angular.min.js}"></script>
        <script th:src="@{/js/libs/angular-ui-router.min.js}"></script>
        <script th:src="@{/js/libs/ui-bootstrap-tpls.min.js}"></script>
        <script th:src="@{/js/common/app.js}"></script>
        <script th:src="@{/js/controller/header.controller.js}"></script>
    </body>
</html>