<!DOCTYPE html>
<div id="component_header" ng-controller="headerCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ng-click="reload()" class="navbar-brand" href="#">开发组件</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">前端</a></li>
                    <li><a href="#">后端</a></li>
                    <li><a href="#">数据库</a></li>
                    <li><a href="#">中间件</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>